# ==========================
# CMake
# ==========================
**/CMakeCache.txt
**/CMakeFiles/
**/CMakeScripts/
**/Testing/
**/cmake_install.cmake
**/install_manifest.txt
**/compile_commands.json
**/CTestTestfile.cmake
**/_deps/
**/Makefile

# CMake User Files
**/CMakeLists.txt.user
**/CMakeUserPresets.json

# ==========================
# Build outputs
# ==========================
**/build/
**/Debug/

# ==========================
# STM32CubeMX / CubeIDE
# ==========================
**/.settings/

# ==========================
# ESP-IDF
# ==========================
**/sdkconfig.old
**/managed_components/
**/dependencies.lock

# ==========================
# VS Code
# ==========================
**/.vscode/

# ==========================
# Local History
# ==========================
**/.history/

# ==========================
# KiCad
# ==========================
*.kicad_prl
*.bak

# ==========================
# OS
# ==========================
Thumbs.db
.DS_Store